* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  /* choose color form here- https://coolors.co/83b692-f9ada0-f9627d-c65b7c-5b3758 */
  background: linear-gradient(10deg, rgb(85, 2, 85), rgb(24, 47, 51));
  font-family: "Poppins", sans-serif;
}
#headd_own {
  color: rgb(163, 4, 163);
  font-weight: 700;
  font-family: "Lobster", cursive;
  font-family: "Noto Serif", serif;
}

.aboutme {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.aboutme a {
  list-style: none;
  text-decoration: none;
}
.aboutme a:hover {
  border-bottom: 2px solid wheat;
}
#section h1 {
  color: wheat;
}

.arrowanimate i {
  font-size: 40px;
}
.arrow2:hover{
  color: purple;
}

#section a {
  text-decoration: none;
  cursor: progress;
}
.namemine {
  font-family: "Roboto", sans-serif;
}

#section #scor {
  color: rgb(250, 24, 250);
  font-family: "Montserrat", sans-serif;
}

#section .myself {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#section .myself1:hover {
  color: rgb(252, 252, 252);
  background-color: rgb(0, 60, 255);
}

#section .myself2:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
}

.contactusme a {
  text-decoration: none;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer_own {
  color: wheat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}
.footer_own .backtop {
  color: rgb(235, 176, 66);
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.footer_own .backtop:hover {
  border: 2px solid purple;
  padding: 3px;
  border-radius: 5px;
}

.mainaboutme {
  font-family: "Montserrat", sans-serif;
}
.me_info .contactmee {
  color: rgb(228, 113, 20);
  font-weight: 400;
  font-size: 22px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.contactmeextra {
  color: rgb(199, 94, 9);
  font-size: 19px;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.links_mine {
  text-align: center;
}
.links_mine a ion-icon {
  text-align: center;
  color: black;
}

.links_mine a {
  text-decoration: none;
  font-size: 40px;
}

.button_own a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.button_own:hover {
  border: 1px solid black;
  border-radius: 25px;
}

.coustom_aboutme {
  background-color: rgb(247, 161, 175);
}

#contactusmeid {
  background: linear-gradient(180deg, rgb(247, 161, 175), rgb(129, 47, 129));
}
.list_style {
  list-style: none;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
}

.bsccs {
  list-style: none;
  font-weight: 600;
}
.shake-shake:hover {
  color: rgb(163, 0, 163);
}

.paranew ul li {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 18px;
  list-style: none;
}

.addanimation{
  animation: mymove 3s infinite;
}

@keyframes mymove {
  0% {color: red;}
  25% {color: rgb(0, 0, 0);}
  50% {color:rgb(255, 255, 255);}
  75% {color: rgb(4, 0, 255);}
  100% {color: rgb(241, 0, 133);}
}

#insta:hover {
  color: #125688;
}
#twt:hover {
  color: #55acee;
}
#github:hover {
  color: rgb(28, 36, 51);
}
#linked:hover {
  color: #007bb5;
}
#yt:hover {
  color: #bb0000;
}
#reddit:hover {
  color: #ff5700;
}
#mail:hover {
  color: #dd4b39;
}
